@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";
@import "timeline.scss";
@import "hamburger.scss";

.download {
  color: #e23535;
  background: none;
  border: 1px solid #e23535;
  font-weight: 400;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-style: none;
}

.navboarder:hover {
  color: #e23535;
}

@media only screen and (min-width: 992px) {
  .navboarder {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
  }
}

section {
  padding-top: 4rem;

  padding-bottom: 4rem;
}

.section-heading {
  margin-bottom: 2rem;
}

#intuitive {
  background-color: #f7f8fa;
}

#architecture {
  background-color: white;
}

#laptop {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#intuitive li {
  margin-top: 40px;
}

#intuitive li:first-child {
  margin-top: 0;
}

#whitepaper {
  background-color: #1e252c;
}

#architecture li {
  margin-top: 40px;
}

#architecture li:first-child {
  margin-top: 0;
}

#benefits {
  background-color: #f7f8fa;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contact {
  background-color: #1e252c;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
